<h1 class = 'text-center'>Leaderboard!</h1>

<% player.forEach(function(player) { %>
    <div class="well">
        <h1>Name: <strong> <%= player.name %></strong></h1>
        <h2>Wins: <strong> <%= player.wins %></strong></h2>
        <h2>Games Played: <strong> <%= player.played %></strong></h2>
    </div>
<% }) %>
